<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Intro Vue 3</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar"></div>

    <div class="cart">Cart({{ cart.length }})</div>

    <product-display
      :premium="premium"
      @add-to-cart="incrementCart"
      @remove-from-cart="decrementCart">
    </product-display>
  </div>


  <script type="text/x-template" id="product-display">
    <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <img :src="image" :alt="product" :class="{ 'out-of-stock-img': !inStock }">
        </div>
        <div class="product-info">
          <h1>{{ title }}</h1>
          <p v-if="inStock">In Stock!</p>
          <p v-else>Out of Stock!</p>
          <p v-if="onSale">{{ onSaleMessage }}</p>
          <p>Shipping: {{ shipping }}</p>

          <product-details :details="description"></product-details>

          <a :href="link">My github</a>
          <ul>
            <li v-for="detail in details" :key="details">
              {{ detail }}
            </li>
          </ul>
          <div v-for="size in sizes" :key="size">
            {{ size }}
          </div>
          <div
            class="color-circle"
            v-for="(variant, index) in variants"
            :key="variant.id"
            @mouseover="updateVariant(index)"
            :style = "{ backgroundColor: variant.color}"
          ></div >
          <button
            @click="addToCart"
            class="button"
            :class="{ disabledButton: !inStock }"
            :disabled = "!inStock"
          >
            Add
          </button>
        <button @click="removeFromCart" class="button" > Remove</button>
        </div>
      </div>

      <review-list v-if="reviews.length" :reviews="reviews"></review-list>
      <review-form @review-submitted="addReview"></review-form>
    </div >
  </script>

  <script type="text/x-template" id="product-details">
    <p>{{ description }}</p >
  </script>

  <script type="text/x-template" id="review-form">
    <form @submit.prevent="onSubmit" class="review-form">
      <h3>Leave a review</h3>

      <label for="name">Name:</label>
      <input v-model="name" type="text" id="name" name="name">

      <label for="">Review:</label>
      <textarea v-model="review" name="review" id="review" cols="30" rows="10"></textarea>

      <label for="rating">Rating:</label>
      <select v-model.number="rating" name="rating" id="rating">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>

      <input class="button" type="submit" value="Submit">
    </form>
  </script>

  <script type="text/x-template" id="review-list">
    <div class="review-container">
      <h3>Reviews:</h3>
      <ul>
        <li v-for="(review, index) in reviews" :key="index">
          {{ review.name }} gave this {{ review.rating }} stars
          <br>
          "{{ review.review }}"
        </li>
      </ul>
    </div>
  </script>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Import App -->
  <script src="./components/ProductDisplay.js"></script>
  <script src="./components/ProductDetails.js"></script>
  <script src="./components/ReviewForm.js"></script>
  <script src="./components/ReviewList.js"></script>

  <!-- Mount App -->
  <script>
    app.mount('#app')
  </script>

</body>

</html>
